/*
Application StyleSheet

Theme Name:  New Theme
Text Domain: new_theme
*/
/**
 * Colors
 * chartreuse3	#66CD00
 * grass		#4DBD33
 */
/**
 * font-family: 'Roboto', sans-serif;
 * font-family: 'Roboto Slab', serif;
 * font-family: 'Roboto Mono', monospace;
 */
/* Theme Colours */
/* Breakpoints */
/* Reset html. */
html {
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  position: relative;
  padding: 0;
  padding-top: 11rem;
  width: 100%; }

main.wrapper {
  padding-bottom: 7.5rem; }

header.main {
  position: static;
  width: 100%;
  background: #ccc;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  header.main .btn {
    z-index: 1002; }

header.main {
  margin-bottom: -10px;
  padding: 0 !important; }

header.main > h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 1.5rem; }
  header.main > h1 a {
    color: #333; }
    header.main > h1 a:hover {
      color: #4d4d4d;
      background-color: #ccc; }

main {
  max-width: 920px;
  margin: 0 auto;
  padding: 0; }

header > h2 {
  margin-bottom: 0;
  font-size: 5rem; }

.terms-conditions h2 {
  font-size: 3rem;
  font-weight: 500; }
.terms-conditions h3 {
  font-size: 2.25rem;
  font-weight: 400; }
.terms-conditions hr {
  border-top: 1px solid #ccc; }
  .terms-conditions hr:last-of-type {
    border: none;
    visibility: hidden; }

/* Class for hiding on all but small screens. */
.visible-xs {
  visibility: hidden; }

@media (max-width: 370px) {
  header.main > h1 {
    font-size: 2.5rem !important; }

  a.btn.visible-xs {
    font-size: 2.75rem !important; } }
@media (max-width: 420px) {
  body {
    padding-top: 4.5rem; }

  main.wrapper {
    padding-bottom: 35.7rem; }

  header.main > h1 {
    padding-left: 10px;
    padding-right: 10px; }

  .visible-xs {
    visibility: visible; } }
@media (max-width: 920px) {
  main.wrapper section.main, main.wrapper header {
    padding-left: 10px;
    padding-right: 10px; } }
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #ccc;
  width: 100%;
  z-index: 2000; }
  footer p {
    text-align: center;
    font-weight: 500; }
    footer p a:link, footer p a:visited, footer p a:active {
      color: #f2f2f2;
      font-weight: 100; }
    footer p a:hover {
      color: #ccc;
      background-color: rgba(200, 200, 200, 0.25); }

/**
* Add Style Declarations for Slideshow here.
*/
#testimonial-slideshow {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
  display: block;
  height: auto; }
  #testimonial-slideshow li {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
    #testimonial-slideshow li .slide-text {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      position: absolute;
      max-width: 70%;
      top: 15%;
      left: 12.5%;
      color: #fefefe;
      z-index: 100;
      text-align: right;
      margin: 0 auto;
      font-style: italic;
      letter-spacing: 0.15em;
      text-shadow: 2px 2px 2px black;
      line-height: 2em; }
    #testimonial-slideshow li .btn {
      min-width: 25%;
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
      z-index: 300;
      text-decoration: none;
      background-color: #3EA055;
      padding: 0.25rem;
      border-radius: 0.25rem;
      color: white;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #373737;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.37); }
    #testimonial-slideshow li img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1;
      box-sizing: border-box;
      border: 1px solid #bbb;
      border-radius: 0.25rem; }
    #testimonial-slideshow li .testimonial {
      font-size: 4rem;
      display: block;
      text-align: center;
      line-height: 1.25em; }
  #testimonial-slideshow li:first-of-type {
    display: block; }

#testimonial-slideshow > li, #testimonial-slideshow {
  width: 100%; }

/**
 * Tiny Screens!
 */
@media screen and (max-width: 420px) {
  #testimonial-slideshow {
    margin-top: 1.5rem; }
    #testimonial-slideshow li .slide-text {
      max-width: 90%;
      top: 10px;
      left: 5%;
      font-size: 1.25rem;
      font-style: italic !important;
      letter-spacing: 0.25em;
      color: #fefefe;
      z-index: 100; }
    #testimonial-slideshow li .slide-text {
      top: 1em; }
    #testimonial-slideshow li .testimonial {
      font-size: 1.75rem;
      font-style: normal !important;
      padding-bottom: 0.75rem; }
    #testimonial-slideshow li .btn {
      font-size: 1rem; } }
/**
 * Small Screens!
 */
@media screen and (min-width: 420px) and (max-width: 576px) {
  #testimonial-slideshow {
    box-sizing: border-box;
    margin-top: 1.75rem; }
    #testimonial-slideshow li .slide-text {
      top: 15% !important;
      max-width: 82.5%;
      left: 8.75%;
      font-size: 1.5rem;
      top: 25px; }
    #testimonial-slideshow li .testimonial {
      font-size: 1.75rem;
      top: 15px; } }
/**
 * Tablets and Small Monitors.
 */
@media screen and (min-width: 576px) and (max-width: 768px) {
  #testimonial-slideshow {
    box-sizing: border-box;
    margin-top: 1.75rem; }
    #testimonial-slideshow li .slide-text {
      top: 17.5% !important;
      max-width: 82.5%;
      left: 8.75%;
      font-size: 1.75rem;
      top: 25px; }
    #testimonial-slideshow li .testimonial {
      font-size: 2.5rem;
      top: 15px; } }
/**
 * Desktop.
 */
@media screen and (min-width: 768px) {
  #testimonial-slideshow {
    min-height: 420px;
    box-sizing: border-box;
    margin-top: 2.25rem; }
    #testimonial-slideshow li .slide-text {
      top: 12.5% !important;
      max-width: 75%;
      left: 12.5%;
      font-size: 1.5rem;
      top: 25px; }
    #testimonial-slideshow li .testimonial {
      font-size: 2.5rem;
      letter-spacing: 0em;
      top: 15px; }
    #testimonial-slideshow li .btn {
      width: 35%;
      font-size: 1.75rem; } }
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 18px; }

h1, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300; }

strong {
  font-weight: 400; }

h2 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 2rem; }

.lead strong {
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 1.33em; }
  .lead strong a:link, .lead strong a:visited, .lead strong a:hover, .lead strong a:active {
    font-weight: 400;
    text-decoration: none;
    color: #23527C; }
  .lead strong a:hover, .lead strong a:active {
    color: #5193ce;
    text-decoration: underline; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #23527C; }

a:hover, a:active {
  color: #5193ce;
  background-color: #ddd;
  text-decoration: underline; }

/**
 * Default Main Navigation Style
 * - Flexbox nav menu with dropdowns
 * - Dropdowns hidden by default (shown on hover)
 * - Small screens: flex-direction: column;
 */
#menu-main {
  padding: 0;
  margin: 0; }

.menu-main-container {
  background-color: #333;
  color: #ccc;
  width: 100%; }

.menu-main-container > ul {
  padding: 0 1.5rem; }

.menu-main-container > ul > li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  margin: 0; }

.menu-main-container > ul > li > a:link,
.menu-main-container > ul > li > a:visited {
  text-decoration: none;
  padding: 0.75rem 0;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: #ccc; }

.menu-main-container > ul > li > a:hover,
.menu-main-container > ul > li > a:active {
  background-color: rgba(200, 200, 200, 0.25); }

.menu-main-container ul {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/**
 * Navigation dropdown menus.
 */
/* Relative menu items to position dropdown menus */
.menu-main-container > ul > li {
  position: relative; }

/* Hide child lists from view (hide dropdown menus) */
.menu-main-container > ul > li > ul {
  display: none; }

/* Display the child list on hover (show dropdown menus) */
.menu-main-container > ul > li:hover > ul {
  display: block;
  position: absolute;
  z-index: 2000;
  background-color: #eee;
  /*width: 100%;*/ }

/* Small screen menu button */
a.btn.visible-xs {
  border-radius: 100%;
  box-sizing: border-box;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 10px;
  right: 10px;
  z-index: 2000;
  font-size: 3.25rem;
  line-height: 1rem;
  color: #333; }
  a.btn.visible-xs:hover {
    color: #23527c; }

/* Squash dropdown container */
.menu-main-container > ul > li:hover > ul,
.menu-main-container > ul > li:hover > ul > li {
  padding: 0;
  margin: 0; }

/* Style dropdown menu links */
.menu-main-container > ul > li:hover > ul > li > a:link,
.menu-main-container > ul > li:hover > ul > li > a:visited {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: #333;
  background-color: #eee; }

/* Style dropdown menu links */
.menu-main-container > ul > li:hover > ul > li > a,
.menu-main-container > ul > li:active > ul > li > a {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem; }

.menu-main-container > ul > li:hover > ul > li > a:hover,
.menu-main-container > ul > li:hover > ul > li > a:active {
  text-decoration: none;
  background-color: #ccc;
  color: #333; }

@media (max-width: 420px) {
  .menu-main-container {
    position: absolute;
    bottom: 6.15rem;
    z-index: 2000; }
    .menu-main-container ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .menu-main-container ul li {
        font-size: 16px;
        font-weight: 100; }
        .menu-main-container ul li:hover ul {
          width: 100%;
          text-align: center; }
          .menu-main-container ul li:hover ul li {
            font-weight: 400; } }
@media (min-width: 421px) {
  .menu-main-container {
    position: fixed;
    top: 6rem;
    z-index: 1001; } }
/**
 * WooCommerce
 */
.woocommerce-result-count,
.woocommerce-ordering {
  width: 49.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: inline-block; }

.woocommerce-result-count {
  font-weight: 300;
  font-size: 1.25rem; }

.woocommerce-ordering {
  text-align: right; }

.woocommerce-ordering > select {
  /*max-width: 420px;*/
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem; }

.woocommerce-ordering > select > option {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

/**
 * Products List Styles
 */
ul.products {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

ul.products > li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 300px;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0.625rem auto; }

ul.products > li h3,
ul.products > li .price,
ul.products > li a.button {
  display: none; }

ul.products > li:hover h3,
ul.products > li:hover .price,
ul.products > li:hover a.button {
  display: block; }

ul.products > li h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 2.5em;*/
  margin: 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.85); }

ul.products > li .price {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.75rem;
  border-radius: 0.5rem; }

ul.products a:first-of-type {
  margin: 0 auto;
  text-align: center; }

ul.products a:link,
ul.products a:visited {
  font-weight: 300;
  text-decoration: none;
  color: #222; }

ul.products a.button:link,
ul.products a.button:visited {
  /* Layout */
  position: absolute;
  box-sizing: border-box;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 10rem;
  padding: 0.625rem 0.3125rem;
  /* Typography */
  text-align: center;
  /* Colouring */
  color: white;
  background-color: #4DBD33;
  /* Borders */
  border: 1px solid #3A6629;
  border-radius: 0.25rem; }

/**
 * Style Pagination
 */
nav > .page-numbers {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

nav > .page-numbers > li {
  width: 2.5rem;
  text-align: center; }

nav > .page-numbers > li > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 300; }

nav > .page-numbers > li > a:hover {
  font-weight: 4	00;
  background-color: #eee; }

img.cat {
  box-sizing: border-box;
  max-width: 100%;
  border: 1px solid #999;
  border-radius: 0.25rem; }

.cat > a:link,
.cat > a:hover,
.cat > a:visited,
.cat > a:active {
  color: #333;
  text-decoration: none; }

article.cat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-bottom: 1px solid #ccc; }
  article.cat .cat_title h2 {
    font-size: 3.5rem;
    padding: 0;
    margin: 1rem 0 0.5rem; }
  article.cat:last-of-type {
    border: none; }

.cat_title {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 15%; }

.cat_img {
  max-width: 100%;
  min-width: 100%;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin: 0 auto; }

.cat > .post_content {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  min-width: 50%; }

@media (max-width: 420px) {
  article.cat h1, header.cat h1 {
    font-size: 2.75rem; }

  article.cat .cat_title h2 {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 0;
    margin: 1rem 0 0.5rem; } }
@media (max-width: 920px) {
  article.cat, header.cat {
    padding-left: 10px;
    padding-right: 10px; } }
.faq-panel.panel-group {
  border-bottom: 1px solid #ccc; }
  .faq-panel.panel-group article header.display {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f2f2f2; }
    .faq-panel.panel-group article header.display h3 {
      font-weight: 500; }
  .faq-panel.panel-group article header {
    padding: 0;
    padding-left: 5px;
    margin: 0; }
    .faq-panel.panel-group article header h3 {
      padding: 0;
      margin: 0;
      display: block; }
      .faq-panel.panel-group article header h3 a {
        padding: 1rem 0;
        color: #ccc;
        display: block;
        text-decoration: none;
        width: 100%;
        color: #333; }
        .faq-panel.panel-group article header h3 a:hover {
          background-color: #f2f2f2;
          text-decoration: underline;
          font-weight: 400; }
  .faq-panel.panel-group article section {
    border-bottom: 1px solid #ccc; }
  .faq-panel.panel-group article:last-child .panel-body, .faq-panel.panel-group article:first-child .panel-body {
    border: none; }

.faq-terms h4 {
  font-weight: 400;
  font-size: 2.25rem; }

@media (max-width: 768px) {
  .wrapper > h1, .faq-terms {
    padding-left: 10px;
    padding-right: 10px; }

  .faq-panel.panel-group article header, .faq-panel.panel-group article section {
    padding-left: 10px;
    padding-right: 10px; }
  .faq-panel.panel-group article header > h3 {
    font-size: 1.75rem; }
    .faq-panel.panel-group article header > h3 a {
      width: 110%;
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px; } }
