
img.cat {
	box-sizing: border-box;
	max-width: 100%;
	border: 1px solid #999;
	border-radius: 0.25rem;
}

.cat > a:link,
.cat > a:hover,
.cat > a:visited,
.cat > a:active 
{
	color: #333;
	text-decoration: none;
}

article.cat {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.cat_title {
		h2 {
			font-size: 3.5rem;	
			padding: 0;
			margin: 1rem 0 0.5rem;
		}
	}
	border-bottom: 1px solid $lightGry;
	&:last-of-type {
		border: none;
	}
}

.cat_title {
	flex-grow: 1;
	width: 15%;
}

.cat_img {
	max-width: 100%;
	min-width: 100%;
	flex-grow: 3;
	margin: 0 auto;
}

.cat > .post_content {
	flex-grow: 4;
	min-width: 50%;
}

@media (max-width: $bp_xs) {
	article.cat, header.cat {
		h1 {
			font-size: 2.75rem;
		}
	}
	article.cat {
		.cat_title {
			h2 {
				font-size: 2.5rem;	
				font-weight: 400;
				padding: 0;
				margin: 1rem 0 0.5rem;
			}
		}
	}
}
@media (max-width: $bp_lg) {
	article.cat, header.cat {
		padding-left: 10px;
		padding-right: 10px;
	}
}