.faq-panel.panel-group {
	border-bottom : 1px solid $lightGry;
	article {
		header.display {
			border-top: 1px solid $lightGry;
			border-bottom: 1px solid $lightGry;
			background-color: lighten($lightGry, 15%);
			h3 {
				font-weight: 500;
			}
		}
		header {
			padding: 0;
			padding-left: 5px;
			margin: 0;
			h3 {
				padding: 0;
				margin: 0;
				display: block;
				a {
					padding: 1rem 0;
					color: $lightGry;
					display: block;
					text-decoration: none;
					width: 100%;
					color: $darkGry;
					&:hover {
						background-color: lighten($lightGry, 15%);
						text-decoration: underline;
						font-weight: 400;
					}
				}
			}			
		}
		section {
			border-bottom: 1px solid $lightGry;
		}
	 	&:last-child, &:first-child {
 			.panel-body {
				border: none;
			}
	 	}
	}
}
.faq-terms {
	h4 { 
		font-weight: 400;
		font-size: 2.25rem;
	}
}
@media (max-width: $bp_md) {
	.wrapper > h1, .faq-terms {
		padding-left: 10px;
		padding-right: 10px;		
	}
	.faq-panel.panel-group {
		article {
			header, section {
				padding-left: 10px;
				padding-right: 10px;
			}
			header > h3 {
				a {
					width: 110%;
					margin-left: -10px;
					margin-right: -10px;
					padding-left: 10px;
					padding-right: 10px;
				}
				font-size: 1.75rem;
			}
		}
	}
}