footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: $darkGry;
	color: $lightGry;
	width: 100%;
	z-index: 2000;
	p {
		text-align: center;
		font-weight: 500;
		a:link, a:visited, a:active {
			color: lighten($lightGry, 15%);
			font-weight: 100;
		}
		a:hover {
			color: $lightGry;
			background-color: $hoverGry;
		}
	}
}