/**
 * Default Main Navigation Style
 * - Flexbox nav menu with dropdowns
 * - Dropdowns hidden by default (shown on hover)
 * - Small screens: flex-direction: column;
 */
#menu-main {
	padding: 0;
	margin: 0;
}
.menu-main-container {
	background-color: $darkGry;
	color: $lightGry;
	width: 100%;
}

.menu-main-container > ul {
	padding: 0 1.5rem;
}

.menu-main-container > ul > li {
	flex-grow:1;
	padding: 0;
	margin: 0;
}

.menu-main-container > ul > li > a:link,
.menu-main-container > ul > li > a:visited
{
	text-decoration: none;
	padding: 0.75rem 0;	
	text-align: center;
	width: 100%;
	display: inline-block;
	color: $lightGry;

}
.menu-main-container > ul > li > a:hover,
.menu-main-container > ul > li > a:active
{
	background-color: $hoverGry;
}
.menu-main-container ul
{
	list-style-type:none;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/**
 * Navigation dropdown menus.
 */

/* Relative menu items to position dropdown menus */
.menu-main-container > ul >li { 
	position: relative;
}

/* Hide child lists from view (hide dropdown menus) */
.menu-main-container > ul > li > ul {
	display:none;
}

/* Display the child list on hover (show dropdown menus) */
.menu-main-container > ul > li:hover > ul {
	display:block;
	position: absolute;
	z-index: 2000;
	background-color: #eee;
	/*width: 100%;*/
}
/* Small screen menu button */
a.btn.visible-xs {
	border-radius: 100%;
	box-sizing: border-box;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 10px; 
	right: 10px;
	z-index: 2000;
	// border: 1px solid red;
	font-size: 3.25rem;
	line-height: 1rem;
	color: $darkGry;
	&:hover {
		color: #23527c;
	}
}
/* Squash dropdown container */
.menu-main-container > ul >li:hover > ul,
.menu-main-container > ul >li:hover > ul > li {
	padding: 0;
	margin: 0;
}

/* Style dropdown menu links */
.menu-main-container > ul >li:hover > ul > li > a:link,
.menu-main-container > ul >li:hover > ul > li > a:visited {
	text-decoration: none;
	width: 100%;
	display: inline-block;
	color: #333;
	background-color: #eee;
}

/* Style dropdown menu links */
.menu-main-container > ul >li:hover > ul > li > a,
.menu-main-container > ul >li:active > ul > li > a {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}

.menu-main-container > ul >li:hover > ul > li > a:hover,
.menu-main-container > ul >li:hover > ul > li > a:active {
	text-decoration: none;
	background-color: $lightGry;
	color: #333;
}

@media (max-width: $bp_xs) {
	.menu-main-container {
		position: absolute;
		bottom: 6.15rem;
		z-index: 2000;
		ul {
			flex-direction: column;
			li {
				font-size: 16px;
				font-weight: 100;
				&:hover {
					ul {
						width: 100%;
						text-align: center;
						li {
							font-weight: 400;

						}		
					}
				}
			}
		}
	}
}

@media (min-width: 1 + $bp_xs) {
	.menu-main-container {
		position: fixed;
		top: 6rem;
		z-index: 1001;
	}
}