/**
* Add Style Declarations for Slideshow here.
*/

#testimonial-slideshow {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 3rem;
	display: block;
	height: auto;
	li {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		.slide-text {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			position: absolute;
			max-width: 70%;
			top:15%;
			left: 12.5%;
			color: #fefefe;
			z-index: 100;
			text-align: right;
			margin: 0 auto;
			font-style: italic;
			letter-spacing: 0.15em;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
			line-height: 2em;
		}
		.btn {
			min-width: 25%;
			position: absolute;
			bottom: 1.5rem;
			left: 1.5rem;
			z-index: 300;
			text-decoration: none;
			background-color: #3EA055;
			padding: 0.25rem;
			border-radius: 0.25rem;
			color: white;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px rgba(55, 55, 55, 1);
			-webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.37);
			-moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.37);
			box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.37);
		}
		img {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			z-index: 1;
			box-sizing: border-box;
			border: 1px solid #bbb;
			border-radius: 0.25rem;
		}
		.testimonial {
			font-size: 4rem;
			display: block;
			text-align: center;
			line-height: 1.25em;
		}
	}
	li:first-of-type {
		display: block;
	}
}
#testimonial-slideshow > li, #testimonial-slideshow {
	width: 100%;
	// height: 512px;
}
$break-sm: 420px;
$break-md: 576px;
$break-lg: 768px;
$break-xl: 960px;

/**
 * Tiny Screens!
 */
@media screen and (max-width: $break-sm) {
	#testimonial-slideshow > li, #testimonial-slideshow {
		// height: 170px;
	}
	#testimonial-slideshow {
		margin-top: 1.5rem;
		li {			
			.slide-text {
				max-width: 90%;
				top: 10px;
				left: 5%;
				font-size: 1.25rem;
				font-style: italic !important;
				letter-spacing: 0.25em;
				color: #fefefe;
				z-index: 100;
			}
			.slide-text {
				top: 1em;
			}
			.testimonial {
				// border: 1px solid red;
				font-size: 1.75rem;
				font-style: normal !important;
				padding-bottom: 0.75rem;
			}
			.btn {
				font-size: 1rem;
			}
		}
	}
}

/**
 * Small Screens!
 */
@media screen and (min-width: $break-sm) and (max-width: $break-md) {
	#testimonial-slideshow > li, #testimonial-slideshow {
		// height: 240px;
	}
	#testimonial-slideshow {
		box-sizing: border-box;
		margin-top: 1.75rem;
		li {		
			.slide-text {
				top: 15% !important;
				max-width: 82.5%;
				left: 8.75%;	
				font-size: 1.5rem;
				top: 25px;
			}
			.testimonial {
				font-size: 1.75rem;
				top: 15px;
				// border: 1px solid green;
			}
		}
	}
}
/**
 * Tablets and Small Monitors.
 */
@media screen and (min-width: $break-md) and (max-width: $break-lg) {
	#testimonial-slideshow {
		box-sizing: border-box;
		margin-top: 1.75rem;
		li {		
			.slide-text {
				top: 17.5% !important;
				max-width: 82.5%;
				left: 8.75%;	
				font-size: 1.75rem;
				top: 25px;
			}
			.testimonial {
				font-size: 2.5rem;
				top: 15px;
				// border: 1px solid yellow;
			}
		}
	}
}
/**
 * Desktop.
 */
@media screen and (min-width: $break-lg) {
	#testimonial-slideshow {
		min-height: 420px;
		box-sizing: border-box;
		margin-top: 2.25rem;
		li {		
			.slide-text {
				top: 12.5% !important;
				max-width: 75%;
				left: 12.5%;	
				font-size: 1.5rem;
				top: 25px;
			}
			.testimonial {
				font-size: 2.5rem;
				letter-spacing: 0em;
				top: 15px;
				// border: 1px solid purple;
			}
			.btn {
				width: 35%;
				font-size: 1.75rem
			}
		}
	}
}