body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 0.1rem;
	font-size: 18px;
}

h1, h3, h4, h5, h6 { 
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

strong {
	font-weight: 400;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 2rem;
}

.lead {
	strong {
		font-size: 1.25em;
		font-weight: 300;
		letter-spacing: 0.15em;
		line-height: 1.33em;
		a:link, a:visited, a:hover, a:active {
			font-weight: 400;
			text-decoration: none;
			color: $darkBlu;
		}
		a:hover, a:active {
			color: lighten($darkBlu, 25%);
			text-decoration: underline;
		}
	}
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: $darkBlu;
}
a:hover, a:active {
	color: lighten($darkBlu, 25%);
	background-color: #ddd;
	text-decoration: underline;
}