/* Theme Colours */
$lightGry: #ccc;
$darkGry:  #333;
$darkBlu:  #23527C;
$hoverGry: rgba(200,200,200,0.25);
/* Breakpoints */
$bp_tiny : 370px;
$bp_xs: 420px;
$bp_sm: 512px;
$bp_md: 768px;
$bp_lg: 920px;
$bp_xl: 1000px;