/**
 * WooCommerce
 */

.woocommerce-result-count,
.woocommerce-ordering {
	width: 49.5%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: inline-block;
}
.woocommerce-result-count {
	font-weight: 300;
	font-size: 1.25rem;
}

.woocommerce-ordering {
	text-align: right;
}
.woocommerce-ordering > select {
	/*max-width: 420px;*/
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1rem
}
.woocommerce-ordering > select > option {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

/**
 * Products List Styles
 */
ul.products {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-content: stretch;
	flex-wrap: wrap;
}
ul.products > li {
	flex-grow: 1;
	max-width: 300px;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	margin: 0.625rem auto;
}

ul.products > li h3, 
ul.products > li .price, 
ul.products > li a.button 
{
	display:none;
}
ul.products > li:hover h3, 
ul.products > li:hover .price, 
ul.products > li:hover a.button 
{
	display:block;
}

ul.products > li h3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 2.5em;*/
	margin: 0;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	font-weight: 300;
	background-color: rgba(255,255,255, 0.85)
}
ul.products > li .price {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	font-size: 1.5rem;
	color: black;
	background-color: rgba(255,255,255, 0.95);
	padding: 0.75rem;
	border-radius: 0.5rem;

}
ul.products a:first-of-type {
	margin: 0 auto;
	text-align: center;
}
ul.products a:link,
ul.products a:visited {
	font-weight: 300;
	text-decoration: none;
	color: #222;
}
ul.products a.button:link,
ul.products a.button:visited {
	/* Layout */
	position: absolute;
	box-sizing: border-box;
	bottom: 0.5rem;
	right: 0.5rem;
	width: 10rem;
	padding: 0.625rem 0.3125rem;
	/* Typography */
	text-align: center;
	/* Colouring */
	color: white;
	background-color: #4DBD33;
	/* Borders */
	border: 1px solid #3A6629;
	border-radius: 0.25rem;
}

/**
 * Style Pagination
 */
nav > .page-numbers {
	list-style-type: none;
	display: flex;
	justify-content: center;
}
nav > .page-numbers > li {
	width: 2.5rem;
	text-align: center;
}
nav > .page-numbers > li > a {
	width: 100%;
	height: 100%;
	display: inline-block;
	text-decoration: none;
	color: #333;
	font-weight: 300;
}
nav > .page-numbers > li > a:hover {
	font-weight: 4	00;
	background-color: #eee;
}