/*
Application StyleSheet

Theme Name:  New Theme
Text Domain: new_theme
*/

/**
 * Colors
 * chartreuse3	#66CD00
 * grass		#4DBD33
 */

/**
 * font-family: 'Roboto', sans-serif;
 * font-family: 'Roboto Slab', serif;
 * font-family: 'Roboto Mono', monospace;
 */

@import 'variables';

/* Reset html. */
html {
	padding: 0;
	margin: 0;	
}
body {
	margin: 0;
	position: relative;
	padding: 0;
	padding-top: 11rem;
	width: 100%;
}

main.wrapper { 
	padding-bottom: 7.5rem;
}


header.main {
	position: static;
	width: 100%;
	background: $lightGry;
	margin-top: 0;
	padding-top: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	.btn {
		z-index: 1002;
	}
}

header.main {
	margin-bottom: -10px;
	padding: 0 !important;
}

header.main > h1
{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0 1.5rem;
	a {
		color: $darkGry;
		&:hover {
			color: lighten($darkGry, 10%);
			background-color: $lightGry;
		}
	}
}

main {
	max-width: $bp_lg;
	margin: 0 auto;
	padding: 0;
}

header > h2 {
	margin-bottom: 0;
	font-size: 5rem;
}

.terms-conditions {
	h2 {
		font-size: 3rem;
		font-weight: 500;
	}
	h3 {
		font-size: 2.25rem;
		font-weight: 400;
	}	
	hr {
		border-top: 1px solid $lightGry;
		&:last-of-type {
			border: none;
			visibility: hidden;
		}
	}
}
/* Class for hiding on all but small screens. */
.visible-xs {
	visibility: hidden;
}
@media (max-width: $bp_tiny) {
	header.main > h1 {
		font-size: 2.5rem !important;
	}
	a.btn.visible-xs {
		font-size: 2.75rem !important;
	}
}
// @media (max-width: $bp-xs) and (min-width: 49 - $bp_xs) {
// 	header.main > h1 {
// 		font-size: 3rem;
// 	}
// }
@media (max-width: $bp-xs) {
	body {
		padding-top: 4.5rem;
	}
	main.wrapper { 
		padding-bottom: 35.7rem;
	}
	header.main > h1 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.visible-xs {
		visibility: visible;
	}
}
@media (max-width: $bp-lg) {
	main.wrapper { 
		// padding-bottom: 35.7rem;
		section.main, header {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}


@import 'header';
@import 'footer';
@import 'slideshows';
@import 'typography';
@import 'navigation';
@import 'woocommerce';
@import 'cats';
@import 'faq';